@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}


.alpha{
    background-color: #1aa179 !important;
}

main{
    background-color: #dee2e6;
}
section{
    background-image: url(../imgs/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    height: 15em;
    color: white;
    text-align: end;
}

section h1{
    justify-content: left;
    font-family: 'Roboto', sans-serif;
}


h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

article div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

article img{
    width: 8em !important
}

footer{
    color: black !important;
}

.tamaño{
    width: 70px;
}

.alto{
    height: 347px;
}

#color-texto{
    color: white;
}